.page-header {
    background-color: #40dddd;
    padding-bottom: 9px;
    margin: 0px 0 40px;
    border-bottom: 1px solid #eee;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
* {margin:0;padding:0;}
html {height: 100%;}
#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 180px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;
  background-color: #40dddd;
  margin-top: 0;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.content {
    margin-left: 40px;
}

.activity-page{
    padding: 0px 0px 0px 40px;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}
body {
  background: #8DC26F; /* fallback for old browsers */
  background: -webkit-radial-gradient(#8DC26F, #40dddd);
  background: -moz-radial-gradient(#8DC26F, #40dddd);
  background: -o-radial-gradient(#8DC26F, #40dddd);
  background: radial-gradient(#8DC26F, #40dddd);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
