<html>
{% load staticfiles %}
<link href="{% static 'discussions/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'discussions/login.css' %}" rel="stylesheet">

    <script src="{% static 'discussions/js/jquery.js' %}"></script>
    <script src="{% static 'discussions/js/login.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'discussions/js/bootstrap.min.js' %}" ></script>
<head>
    <link rel="stylesheet" href="{% static 'discussions/bootstrap.css' %}">
</head>
<body>
<!-- Page Content -->
    <div class="login">
    {% block content %}

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="container">
            <div class="card card-container">
               <div class="login-page">
                  <img id="profile-img" class="profile-img-card" src="{% static 'discussions/clone_trooper.jpg' %}" />
                  <div class="form">
                     <p id="profile-name" class="profile-name-card"></p>
                    <form method= "post" class="login-form" action="{% url 'discussions:login' %}" >
                      {% csrf_token %}
                      <div class="text-centered">{{ form.username }}
                      <td>{{ form.password }}</td>
                      </div>
                      <p class="message">Not registered? <a href="../sign_up">Create an account</a></p>
                      <div id="remember" class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', '{{form.username.label}}');
        $("#id_password").attr('placeholder', '{{form.password.label}}');
    });
</script>

</html>
