<html>
{% include 'header.html' %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'reservations/login.css' %}">
</head>
<body>
<!-- Page Content -->
    <div class="login">
    {% block content %}

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

       <div class="login-page">
          <div class="form">
            <form method= "post" class="login-form" action="{% url 'reservations:login' %}" >
              {% csrf_token %}
              {{ form.username }}
              <td>{{ form.password }}</td>
              <button>login</button>
              <p class="message">Not registered? <a href="{% url 'reservations:sign_up'%}">Create an account</a></p>
            </form>
          </div>
        </div>

    {% endblock %}
    </div>
{% include 'footer.html' %}
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', '{{form.username.label}}');
        $("#id_password").attr('placeholder', '{{form.password.label}}');
    });
</script>

</html>
