<!DOCTYPE html>
<html lang="en">

<style>
h1 {
    text-align: center;
}
</style>

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Gautham">

    <title>For the Republic!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'discussions/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'discussions/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="{% url 'discussions:index' %}">
                        My Account
                    </a>
                </li>
                <br>
                {% for p in reps %}
                <li>
                    <a href="{% url 'discussions:rep_view' p.user.user.username %}" method="post">{{p.user.user.first_name}} {{p.user.user.last_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    {% if poly %}
                    <div class="col-lg-12">
                        <h1 id=rep data="{{poly.user.user.username}}">{{poly.user.user.first_name}} {{poly.user.user.last_name}}</h1>
                        <p> {{poly.bio}}</p>
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-12" text-align: center>
                        <form method="POST" id="issue-form">
                            {% csrf_token %}
                            <textarea id="issue-text" name="comment" rows="4" cols="50" placeholder="Enter issues here"></textarea>
                            <br>
                            <input type = "submit">
                        </form>
                        <br>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        <br>
                    </div>
                    {% else %}

                    <div class="col-lg-12">
                        <h1>My Account</h1>
                        <p>{{ user.user.first_name }} {{ user.user.last_name }}</p>
                        <p>{{ user.city_name }}, {{ user.state }} </p>
                    </div>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    {% endif %}
                    <br>
                    <br>


                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div class="container-fluid">
        {% if poly %}

        <div class="col-lg-12" text-align: center>

            <hr></hr>
            <br>
            <div id="refresh">
                {% include "discussions/part_index.html" %}
            </div>
        </div>
    </div>
        {% endif %}
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'discussions/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'discussions/js/bootstrap.min.js' %}" ></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $(document).on('submit', '#issue-form',function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/discussions/view/' + "{{poly.user.user.username}}/",
                data:{
                    text: $('#issue-text').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    $('#refresh').html(data);
                }
            });
        });
        $('.upvote').click(function() {
            $(this).prop("disabled",true);            //$(this).after('<button disabled="disabled" value="upvoted' + $(this).val() + '" />');
            $(this).text("Upvoted");
            $.ajax({
                type: "POST",
                url: "/discussions/upvote/",
                data: {
                    id: this.id,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                }
            });
        });
    </script>

</body>

</html>
