<html lang="en">
{% include "header.html" %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'reservations/index.css' %}">
</head>
<body>

    <!-- Page Content -->
    <div id="wrap">
        <div class="container" id="main">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1>You have successfully Logged out
                    </h1>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href = '/discussions/login/'>Login Again</a>
        </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}

</body>
</html>
